<!DOCTYPE html>
<html>

<head>

    <title>CampusIntel - Login</title>

    <link rel="stylesheet"
          href="{{ url_for(
          'static',
          filename='css/style.css'
          ) }}">

</head>

<body>

<div class="container">

    <h1>🔐 Student Login</h1>

    {% with messages = get_flashed_messages() %}

        {% for message in messages %}

            <div class="message">
                {{ message }}
            </div>

        {% endfor %}

    {% endwith %}


    <form method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label>Username</label>

        <input
            type="text"
            name="username"
            required
        >


        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >


        <button type="submit">
            Login
        </button>

    </form>


    <p>
        New user?
        <a href="/register">
            Create Account
        </a>
    </p>

</div>

</body>

</html>